<h5>Bookmarks</h5>
<ul class="collection">
	<table class="bookmark table bordered centered">
		<thead>
			<tr>
				<th>Title</th>
				<th>Source</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tr class="bookmark" ng-repeat="(id, bookmark) in main.bookmarks">
			<td>
				<a target="_blank" ng-href="{{bookmark.url}}">
					<h6>{{bookmark.title}}</h6>
				</a>
			</td>
			<td>{{bookmark.source}}</td>
			<td>
				<a ng-href="{{bookmark.commentsrc}}">Comments</a>
			</td>
			<td>
				<a ng-click="main.removeBookmark(id, bookmark.key)">
					<i class="mdi mdi-bookmark-remove pointer"></i>
				</a>
			</td>
		</tr>
	</table>
</ul>
