<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="title" type="text" class="validate" ng-model="main.tutorial.title">
        <label for="title">Title</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="type" type="text" class="validate" ng-model="main.tutorial.type">
        <label for="type">Type</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="url" type="url" class="validate" ng-model="main.tutorial.URL">
        <label for="url">URL</label>
      </div>
    </div>
  </form>
  <button class="btn btn-primary" ng-click="main.saveTut()">Submit</button
</div>
